{
    "presets": ["next/babel"],
    "plugins": [
        ["import", { "libraryName": "antd", "style": "css" }],
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@": "./src",
                    "@Actions": "./src/Actions",
                    "@Components": "./src/Components",
                    "@Interfaces": "./src/Interfaces",
                    "@Pages": "./src/Pages",
                    "@Reducers": "./src/Redux/Reducers",
                    "@Redux": "./src/Redux",
                    "@API": "./src/API",
                    "@Server": "./server",
                    "@Static": "./static",
                    "@Styled": "./src/Styled"
                }
            }
        ],
        [
            "babel-plugin-styled-components",
            {
                "ssr": true
            }
        ]
    ]
}
