.user-page-wrapper {
    display: flex;
}

.user-info {
    position: sticky;
    top: 70px;
    height: 300px;
    width: 200px;
    margin-left: 50px;
    text-align: center;
    .nickname {
      margin: 10px 0;
      font-size: 26px;
    }
    .profile {
      white-space: pre-line;
      text-align: start;
    }
}
