.todo-list {
  padding-left: 15px;
  width: 600px;
  .list {
    margin-top: 10px;
    .item {
      display: flex;
      align-items: center;
      border-radius: 5px;
      padding-left: 10px;
      .cercle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #bfbfbf;
        cursor: pointer;
        margin: 0 10px 0 0;
        &:hover {
          border: 2px solid #1890ff;
        }
      }
      .content {
        min-height: 40px;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        flex: 1;
      }
      &:hover {
        background-color: #fbfbfb;
      }
      .anticon-delete {
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}