.ql-container.ql-snow {
   min-height: 300px;
}

.ql-editor {
  font-size: 16px;
  word-spacing: 3px;
  letter-spacing: 1px;
}
.control {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}